<section class="section">
 
 <div class="container" id="contact-container">
        <div class="row"> 
            <div class="col-md-1"></div> 
            <div class="col-md-7" id="contactinfo-box"> 
              <!--Section heading-->
            <h2 class="section-heading h1 pt-4">Contact us</h2>
            <!--Section description-->
            <h3 class="section-description">We'd love to hear from you!</h3>
            <br>
            <div class="row">

       <!--Grid column-->
        <div class="col-md-11">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="name" class="">Your name</label>
                             {{!-- <p>Your name</p> --}}
                            <input type="text" id="name" name="name" class="form-control">
                            {{!-- <label for="name" class=""></label> --}}
                            <br>
                        </div>
                    </div>
                    <!--Grid column-->
                    {{!-- <div class="row"> --}}
                        
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control">
                            
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="email2" class="">Confirm email</label>
                            <input type="text" id="email2" name="email2" class="form-control">
                            
                        </div>
                    </div>
                    {{!-- </div> --}}
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <br>
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="subject" class="">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                            
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <br>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>
            <br>
            <div class="center-on-small-only">
                <a class="btn btn-primary" id="contact-button" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
            </div>
            </div> 
    
             
             </div>
           
        <!--iVakay contact information-->
       
            <div class="</col-md-3 col-xl-3" id="ivakaycontactinfo">
                <span class="contact-icons">
                    <span><i class="fa fa-envelope fa-2x"></i>
                        <p>contact@ivakay</p>
                    </span>
                    <hr/>

                    <span><i class="fa fa-twitter fa-2x"></i>
                        <p>@ivakay_com</p>
                    </span>
                    </span>
           <br>
           <br>
           <br>
        
                <p class="quote">"Twenty years from now you will be more disappointed by the things you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. <br><em>Explore. Dream. Discover"</em></p>
                <p>- Mark Twain</p>
            </div>
             </div>
       
            <div class="col-md-1"></div>
       

    </div>
</div>
</section>


