<!--Section: Resort Input Page-->
<script>
    if (localStorage.getItem("idToken")){
        console.log("idToken found");
    }
</script>
<section class="section">
 
 <div class="container" id="resort-input-container">
    <div class="row"> 
        <div class="col-md-1"></div> 
        <div class="col-md-10" id="resort-input-box"> 
                <h2 class="section-heading h1 pt-4">Resort Input</h2>
            <br>
            
            <div class="row">
                <div class="col-md-11">
                    <form id="resort-input-form" name="input-form" method="POST">

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Resort Name</p>
                            <input type="text" id="resortName" name="resortName" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                 
              </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Property Owner</p>
                            <input type="text" id="propertyOwner" name="propertyOwner" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

            <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Geographical Region</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Address</p>
                            <input type="text" id="address" name="address" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Country</p>
                            <input type="text" id="country" name="country" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Phone Number</p>
                            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                  <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Website</p>
                            <input type="text" id="website" name="website" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Closest Airport</p>
                            <input type="text" id="closestAirport" name="closestAirport" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Amenities</p>
                            <input type="text" id="amenities" name="amenities" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Accomodations</p>
                            <input type="text" id="accommodations" name="accommodations" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Descriptions</p>
                            <input type="text" id="description" name="description" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Photos</p>
                             <i class="fa fa-plus" id="addPhotoInput"></i><div id="inputContainerPhotos">
                                <a href="#" id="1" class="deleteInput">X</a><input type="text" id="photos1" name="photos" class="form-control">
                            </div>
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Route Names</p>
                            <input type="text" id="routeName" name="routeName" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Tour Url</p>
                            <i class="fa fa-plus" id="addUrlInput"></i><div id="inputContainer">
                                <a href="#" id="1" class="deleteInput">X</a><input type="text" id="tourUrl1" name="tourUrl" class="form-control">
                            </div>
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                <button type="submit" id="submit-btn">Submit</button>

            </form>

    
            <div class="status"></div>
            </div>
            </div> 
    
             </div>
        </div>
    </div>