<!--Section: Resort Input Page-->

<section class="section">
 
 <div class="container" id="resort-input-container">
    <div class="row"> 
        <div class="col-md-1"></div> 
        <div class="col-md-10" id="resort-input-box"> 
                <h2 class="section-heading h1 pt-4">Resort Input</h2>
            <br>
            
            <div class="row">
                <div class="col-md-11">
                    <form id="resort-input-form" name="contact-form" action="mail.php" method="POST">

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Resort Name</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                 
              </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Property Owner</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

            <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Geographical Region</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Address</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Location</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Phone Number</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                  <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Website</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Closest Airport</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Amenities</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Accomodations</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Descriptions</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Photos</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Route Names</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                             <p>Tours</p>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class=""></label>
                        </div>
                    </div>
                </div>

            </form>

            <div class="center-on-small-only">
                <a class="btn btn-primary" id="contact-button" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
            </div>
            </div> 
    
             </div>
        </div>
    </div>