    <section class="hero">
        <div class="background-image" style="background-image: url(/images/Thailand/PhuketMainPage4.jpg);"></div>
        <h1>Travel the World with Timeshare Ownership</h1>
    </section>


    <section class="info">
        <h1>What We Do</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nihil ratione eius expedita natus, consequuntur vitae minima saepe inventore qui quos numquam fugiat tempore assumenda sapiente eveniet ullam labore dolorem. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Iusto aliquam quis libero fugiat eligendi nemo, quam tempora provident quos officiis, nisi laboriosam nesciunt! Neque corrupti quis vel quaerat repellendus. Dolorum.</p>
    </section>

    <section class="searchSection">
        <h1>Search for a Property</h1>
        <form id="search" class="search">
            <input type="text" id="resort" name="resort" placeholder="search by property name">
            <a href="#" id="searchBtn" class="btn">Search</a>
        </form>
    </section>


    <section class="featured">
        <h1 class="title">Featured Properties</h1>
        <div class="row1">
            <div class="prop1">
                <div class="propTitles">
                    <h3>Hilton at Borgo alle Vigne</h3>
                </div>
                {{!-- Example 'src' would be: '/images/thumbnails/whateverphoto.jpg' --}}
                <a href="/resorts/1"> <img src='/images/thumbnails/HiltonItalyThumbnail.jpg' class="responsiveImage" /></a>
            </div>
            <div class="prop2">
                <div class="propTitles">
                    <h3>Marriott's Marbella Beach Resort</h3>
                </div>
                 <a href="/resorts/2"> <img src='/images/thumbnails/MarriottMarbellaThumbnail.jpg' class="responsiveImage" /></a>
            </div>
            <div class="prop3">
                <div class="propTitles">
                    <h3>Marriott's Phuket Beach Club</h3>
                </div>
                 <a href="/resorts/3"> <img src='/images/thumbnails/PhuketThumbnails.jpg' class="responsiveImage" /></a>
            </div>
        </div>

        <div class="row2">
            <div class="prop4">
                <div class="propTitles">
                    <h3>Grand Lodge on Peak 7</h3>
                </div>
                 <a href="/resorts/4"> <img src='/images/thumbnails/Grandlodgeonpeak7thumbnails.jpg' class="responsiveImage" /></a>
            </div>
            <div class="prop5">
                <div class="propTitles">
                    <h3>Marriott's Frenchman's Cove</h3>
                </div>
                 <a href="/resorts/5"> <img src='/images/thumbnails/StThomasThumbnail.jpg' class="responsiveImage" /></a>
            </div>
            <div class="prop6">
                <div class="propTitles">
                    <h3>Elara, a Hilton Grand Vacations Club</h3>
                </div>
                 <a href="/resorts/6"> <img src='/images/thumbnails/ElaraThumbnail.jpg' class="responsiveImage" /></a>
            </div>
        </div>
    </section>