<!--Section: User Authorization-->

<section class="section">
 
 <div class="container" id="contact-container">
        <div class="row"> 
            <div class="col-md-2"></div> 
            <div class="col-md-8" id="contactinfo-box"> 
              <!--Section heading-->
            <h2 class="section-heading h1 pt-4">User Authorization</h2>
            <br>
             
            <div class="row">
                <div class="col-md-8">
                        <div class="md-form">
                            <p>User Name</p>
                            <input type="text" id="userName" name="user-authorization" class="form-control">
                            <label for="password" class=""></label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->


                  <!--Grid row-->
                <div class="row">
                    <div class="col-md-8">
                        <div class="md-form">
                            <p>Password</p>
                            <input type="text" id="password" name="password" class="form-control">
                            <label for="password" class=""></label>
                        </div>
                    </div>
                </div>
              

            </form>

            <div class="center-on-small-only">
                <a class="btn btn-primary" id="logIn" onclick="document.getElementById('contact-form').submit();">Log In</a>
            </div>
            <div class="status"></div>
            </div>
            </div>
             </div>
        </div>
</section>