/* div {
    border: 1px black solid;
} */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

/* NAV BAR*/
nav {
    font-size: 16px;
    color: rgb(44, 78, 163);
    border-bottom: 2px solid rgb(44, 78, 163); 
}

#logo {
    width: 250px;
    height: 90px;
    margin-left: 100px;
}

.navbar-nav {
margin-left:30%;
}

.nav-item {
    color:rgba(44, 78, 163, 1);
}

/* CAROUSEL HOMEPAGE*/


/* SEARCH BAR RESORTS*/

#search {
    margin: 60px 0px;
}

#resort-search {
    width: 70%;
    height: 35px;
    border: 3px solid gray;
    border-radius: 5pt;
    text-align: left;
    color: rgb(74, 71, 71);
    background-color: lightgray;
    padding-left: 10px;
}

.btn-btn-primary {
    background-color: rgb(44, 78, 163);
}

/* VACATION CLUB PROPERTIES HIGHLIGHTED HOMEPAGE*/
.card-prop {
    margin: 10px;
    position: relative;
}

.card-image {
    width: 100%;
    border-radius: 3pt;
}

.propTitles {
    position: absolute;
    top: 5%;
    right: -5%;
    color: white;
    background-color:rgba(44, 78, 163, .75);
    border-radius: 3pt;
    font-size: 90%;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(79, 78, 78, 0.365);
}

.propTitles p {
    margin-top: 7px;
}

#header-pictures {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.about {
    border-top: 4px solid rgb(44, 78, 163);
    border-bottom: 4px solid rgb(44, 78, 163);
    background-color: #4A89D1;
    padding: 10px 10%;
    color: white;
}

.featured {
    padding-top: 10px;
    border-right: 3px solid gray;
    border-left: 3px solid gray;
    border-radius: 10pt;
    text-align: center;
    background-color: rgb(238, 237, 237);
    font-family: 'Roboto', sans-serif;
    color: rgb(101, 100, 100)
}

/* FOOTER HOMEPAGE*/
@media screen and (min-width: 480px){
footer {
    margin-top: 30px;
    border-top: 4px solid rgb(44, 78, 163);
    font-size: 32px;
    position: absoulute;
    bottom: 0;
    padding-top: 10px;
}

#icon {
    width: 90%;
}

#copyright {
    font-size: 12px;
    text-align: center;
}

#resort-container {
    margin: 5% auto;
}

.info-tabs {
    border: red solid 3px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 1px;
}
.tab-card {
    height: 475px;
    overflow:auto;
    width: 90%;
    margin: 0% 10% 0% 0%;
    background-color: lightgray;
    border-radius: 0px 15px 15px 15px;
    padding: 1%;
}

#tab-box {
    margin-top: 20px;
}

#myTabContent {
    width: 100%;
    height: 100%;
}

#map {
    margin: 0 auto;
}

.tab-link {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(27, 48, 101);
    color: white;
    margin-right: 5px;
    height: 50px;
}

.tab-link:hover {
    color: white;
    font-weight: bolder;
}

.tab-link .active {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(44, 78, 163);
    color: white;
    margin-right: 5px;
    height: 50px;
}

.resort-picture {
    display: block;
    margin-left: -15px;
}