

/*#logo-container{
    background-image: url(images/);
    padding: 30px 20px 30px 20px;
}*/

#header-images   img{
    width: 100%;
}

#header-images{
    max-width: 1000px;
    margin: auto;
}

#carousel {
	width: 500px;
	height: 500px;
	margin-top: 30px;
}

.row{
	padding-bottom: 20px;
}
.container-fluid {
	margin-left: 200px;
}
#brandInfo {
	background: red;
}
#localSearch {
	background: blue;
}
#FPcontainer{
	background: yellow;
}
.container-fluid{
	background-color: yellow;
}